.home {
  height: 100vh;
  background: url("./../images/bg_2.jpg") no-repeat center;
  background-size: contain;
}

body {
  line-height: 1;
}


.nav {
  width: 143vh;
  height: 100vh;
  margin: auto;
  //background: rgba(0, 0, 255, 0.36);
  position: relative;
  max-width: 100%;
}

.menu-item {
  //background: rgba(255, 0, 0, 0.36);
  display: inline-block;
  position: absolute;

  a {
    display: inline-block;
    border: 4px orange solid;
    font-weight: bold;
    padding: 4px 6px;
  }
}

.menu-concerts {
  width: 30%;
  height: 53%;
  margin-left: 6%;
  margin-top: 16%;
  a {
    margin-top: 80%;
    margin-left: 20%;
  }
}


.menu-projets {
  width: 22%;
  height: 35%;
  margin-left: 58%;
  margin-top: 14%;
  a {
    margin-top: 80%;
    margin-left: 20%;
  }
}

.menu-bio {
  width: 14%;
  height: 27%;
  margin-left: 37%;
  margin-top: 4%;
  a {
    margin-top: 100%;
    margin-left: 60%;
  }
}

.menu-contact {
  width: 44%;
  height: 19%;
  margin-left: 13%;
  margin-top: 44%;
  a {
    right: 6%;
    top: 21%;
    position: absolute;
  }
}
.nav-primary {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

header {
  z-index: 1;
  position: relative;
}
.brand {
  z-index: 1;
  position: relative;
}

.border {
  width: calc(100vw - 16px);
  height: calc(100vh - 16px);
  border: 8px solid orange;
  margin: 8px;
  position: absolute;
  z-index: 0;
}